---
layout: default
---

{% for pokemon in site.pokemon %}
<article>

  <div class="action attacked-by">

    {% if pokemon.double_damage_from %}
    <div class="double-damage">
      {% for type in pokemon.double_damage_from %}
      <div class="poketype {{ type | downcase }}">{{ type }}</div>
      {% endfor %}
    </div>
    {% endif %}

    {% if pokemon.half_damage_from %}
    <div class="half-damage {% if pokemon.name == "Steel" %}thin{% endif %}">
      {% for type in pokemon.half_damage_from %}
      <div class="poketype {{ type | downcase }}">{{ type }}</div>
      {% endfor %}
    </div>
    {% endif %}

    {% if pokemon.no_damage_from %}
    <div class="no-damage">
      {% for type in pokemon.no_damage_from %}
      <div class="poketype {{ type | downcase }}">{{ type }}</div>
      {% endfor %}
    </div>
    {% endif %}

  </div>

  <div class="subject">
    <div class="poketype {{ pokemon.name | downcase }}">{{ pokemon.name }}</div>
  </div>

  <div class="action attacking">

    {% if pokemon.double_damage_to %}
    <div class="double-damage">
      {% for type in pokemon.double_damage_to %}
      <div class="poketype {{ type | downcase }}">{{ type }}</div>
      {% endfor %}
    </div>
    {% endif %}

    {% if pokemon.half_damage_to %}
    <div class="half-damage">
      {% for type in pokemon.half_damage_to %}
      <div class="poketype {{ type | downcase }}">{{ type }}</div>
      {% endfor %}
    </div>
    {% endif %}

    {% if pokemon.no_damage_to %}
    <div class="no-damage">
      {% for type in pokemon.no_damage_to %}
      <div class="poketype {{ type | downcase }}">{{ type }}</div>
      {% endfor %}
    </div>
    {% endif %}

  </div>

</article>
{% endfor %}
